#
# {{ ansible_managed }}
#
file "$(TOP)/db/motornanofaktur.template"
{{"{"}}
pattern
{{"{"}}P, M, DTYP, PORT, ADDR, DESC, EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES, PREC, DHLM, DLLM, INIT{{"}"}}
{% for axis in ioc.axes -%}
{{"{"}}"{{ ioc.environment.P }}", "{{ axis.suffix }}", "asynMotor", "{{ ioc.environment.PORT }}", "{{ axis.addr }}", "{{ axis.desc }}", "{{ axis.egu }}", "{{ axis.dir }}", "{{ axis.velo }}", "{{ axis.vbas }}", "{{ axis.accl }}", "{{ axis.bdst }}", "{{ axis.bvel }}", "{{ axis.bacc }}", "{{ axis.mres }}", "{{ axis.prec }}", "{{ axis.dhlm }}", "{{ axis.dllm }}", "{{ axis.init }}"{{"}"}}
{% endfor -%}
{{"}"}}
